@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    background: #161513;
    color: white;
    font-family: outfit;
}

@layer components {
    .about-skill:hover {
        transform: scale(1.05);
        transition: 0.3s;
    }

    .about-skill hr {
        outline: none;
        border: none;
        width: 50%;
        height: 8PX;
        border-radius: 50px;
        background: linear-gradient(264deg, #DF8908 -5.09%, #b415b4 106.28%);
    }

    .about-achievements {
        display: flex;
        width: 100%;
        justify-content: space-around;
        align-items: center;
        margin-bottom: 80px;
        margin-top: 70px;
    }

    .about-achievement:hover {
        transform: scale(1.12);
        transition: 0.3s;
    }

    .about-achievements .vertical-hr {
        width: 1px;
        height: 100px;
        background-color: #fff;
        transform: rotate(180deg);
    }

    .about-achievement {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10px;
        transition: 0.5s;
    }

    .about-achievement h1 {
        font-size: 60px;
        font-weight: 700;
        margin-bottom: 10px;
        background: linear-gradient(270deg, #DF8908 50.41%, #b415b4B4 90.25%);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
    .services-format h2 {
        background: linear-gradient(270deg, #DF8908 50.41%, #b415b4B4 90.25%);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    .services-format:hover {
        border: 2px solid #ff00ff;
        background: linear-gradient(45deg, #3f0028, #583300);
        transform: scale(1.05);
        transition: 0.5s;
    }

    .mywork-container {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 40px;
    }

    .mywork-container img {
        box-sizing: border-box;
        width: 419px;
        height: 200px;
        border-radius: 10px;
        transition: 0.3s;
        cursor: pointer;
    }

    .mywork-container img:hover {
        transform: scale(1.10);
        border: 2px solid fuchsia;
        transition: 0.3s;
    }

    .mywork-showmore:hover {
        gap: 30px;
        transition: 0.5s;
    }

    .loaction:hover {
        transform: scale(1.10);
    }

    .contact-left h1 {
        font-size: 80px;
        font-family: 800px;
        background: linear-gradient(270deg, #DF8908 50.41%, #b415b4B4 90.25%);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    .contact-details {
        gap: 30px
    }

    .contact-detail {
        display: flex;
        align-items: center;
        gap: 20px;
        margin-bottom: 15px;
        font-size: 22px;
    }

    .contact-detail p {
        cursor: pointer;
    }

    .conatct-right label {
        color: #d8d8d8;
        font-size: 22px;
        font-weight: 500;
    }

    .contact-right input {
        border: none;
        width: 700px;
        height: 40px;
        padding-left: 20px;
        border-radius: 4px;
        background-color: #32323c;
        color: #a0a0a0;
        font-family: outfit;
        font-size: 16px;
        outline: none;
    }

    .text-area {
        border: none;
        width: 650px;
        height: 250px;
        padding-left: 20px;
        padding: 10px;
        border-radius: 4px;
        background-color: #32323c;
        color: #a0a0a0;
        font-family: outfit;
        font-size: 16px;
        outline: none;
    }

    .contact-submit {
        border: none;
        color: white;
        border-radius: 50px;
        background: linear-gradient(270deg, #DF8908 50.41%, #b415b4B4 90.25%);
        font-size: 22px;
        font-weight: 600;
        padding: 16px 40px;
        margin-bottom: 50px;
        cursor: pointer;
        transition: 0.3s;
    }

    .contact-submit:hover {
        transform: scale(1.1);
        transition: 0.3s;
    }

    .footer hr {
        width: 100%;
        background-color: #fff;
    }

    .footer-subscribe {
        font-size: 20px;
        padding: 16px 40px;
        border-radius: 50px;
        background: linear-gradient(270deg, #DF8908 50.41%, #b415b4B4 90.25%);
        cursor: pointer;
        transition: 0.3s;
    }

    .footer-subscribe:hover {
        transform: scale(1.1);
        transition: 0.3s;
    }

    .nav-line {
        outline: none;
        border: none;
        height: 4PX;
        border-radius: 40px;
        background: linear-gradient(264deg, #DF8908 -5.09%, #b415b4 106.28%);
    }

    .nav-mob-open {
        display: none;
    }
    
    .nav-mob-close {
        display: none;
    }
    
    @media(max-width: 1024px) {
        .nav-mob-open {
            display: block;
            position: fixed;
            right: 30px;
            z-index: 3;
        }
    
        .nav-mob-close {
            display: block;
            position: fixed;
            top: 15px;
            right: 30px;
            width: 30px;
            z-index: 3; 
        }
    
        .nav-menu {
            position: fixed;
            flex-direction: column;
            align-items: center;
            top: 0;
            gap: 30px;
            background-color: #1f0016;
            width: 350px;
            height: 65%;
            z-index: 2;
            transition: right 0.5s;
            right: -350px;
        }
    
        .nav-menu li {
            padding-top: 50px;
            font-size: 20px;
            flex-direction: column;
        }
    }
    
    @media(max-width:768px) {
        .contact-right input {
            width: 400px;
            height: 40px;
        }
    
        .text-area {
            width: 350px;
            height: 250px;
        }  
    }
    
}